<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Word Searcher</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <form class="form-style-4"  method="post">
        <table class="header-table">
            <tr>
                <label for="field4">
                <th><span>Your Query</span></th>
                <th><textarea name="field4" onkeyup="adjust_textarea(this)" required="true"></textarea></th>
                <th><input type="submit" value="Submit Query"></th>
                </label>
            </tr>
        </table>
    </form>
    <table class="result-table">
        <tr><th>Results</th></tr>
        <tr><td>3 . 1 4 1 5 9 2 6 5 3 5 8 9 7 9 3 2 3 8 4 6 2 6 4 3 3 8 3 2 7 9 5 0 2 8 8 4 1 9 7 1 6 9 3 9 9 3 7 5 1 0 5 8 2 0 9 7 4 9 4 4 5 9 2 3 0 7 8 1 6 4</td></tr>
        <tr><td>Result 2</td></tr>
        <tr><td>Result 3</td></tr>
        <tr><td>Result 4</td></tr>
        <tr><td>Result 5</td></tr>
        <tr><td>Result 1</td></tr>
        <tr><td>Result 2</td></tr>
        <tr><td>Result 3</td></tr>
        <tr><td>Result 4</td></tr>
        <tr><td>Result 5</td></tr>
        <tr><td>Result 1</td></tr>
        <tr><td>Result 2</td></tr>
        <tr><td>Result 3</td></tr>
        <tr><td>Result 4</td></tr>
        <tr><td>Result 5</td></tr>
        <tr><td>Result 1</td></tr>
        <tr><td>Result 2</td></tr>
        <tr><td>Result 3</td></tr>
        <tr><td>Result 4</td></tr>
        <tr><td>Result 5</td></tr>
    </table>
</body>
</html>