<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Word Searcher</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <form class="form-style-4" th:action="@{/query}" th:object="${Word}" method="post">
        <label for="field4">
            <span>Your Query</span>
            <textarea name="field4" th:field="*{word}" onkeyup="adjust_textarea(this)"></textarea>
        </label>
        <label for="field4">
            <span>Query Mode</span>
            <select th:field="*{mode}">
                <option th:value="'Starts With'" th:text="'Starts With'">Starts With</option>
                <option th:value="'Ends With'" th:text="'Ends With'">Ends With</option>
                <option th:value="'Contains'" th:text="'Contains'">Contains</option>
            </select>
        </label>
        <label for="field4">
            <input type="submit" value="Submit Query">
        </label>
    </form>
    
    <div class="form-style-4" th:if="${Word.getMode() != ''}">
        <span>Results</span><br />
        <span>Word: <code><span th:text="${Word.getWord()}"></span></code></span><br />
        <span>Mode: <code><span th:text="${Word.getMode()}"></span></code></span><br />
        <label for="field4"><button id="qCopy">Copy Query to Clipboard</button></label>
    </div>

    <table id="results" class="result-table" th:if="${Word.getMode() != ''}">
        <tr th:each="word : ${wordList}">
            <td><span th:text="${word}"></span></td>
        </tr>
    </table>
</body>
</html>

<script type="text/javascript">
    function selectElementContents(el) {
        var body = document.body, range, sel;
        if (document.createRange && window.getSelection) {
            range = document.createRange();
            sel = window.getSelection();
            sel.removeAllRanges();
            try {
                range.selectNodeContents(el);
                sel.addRange(range);
            } catch (e) {
                range.selectNode(el);
                sel.addRange(range);
            }
        } else if (body.createTextRange) {
            range = body.createTextRange();
            range.moveToElementText(el);
            range.select();
        }
    }

    const btn = document.getElementById("qCopy");

    btn.onclick = function() {
        selectElementContents(document.getElementById("results"));
        document.execCommand('copy');
    }
</script>